<div>Welcome! Please Register or Log In</div>


<div class="login">
	<form action="/login">
		<button class="loginInfo">Log In</button>
	</form>
	<form action="/register">
		<button class="loginInfo">Register</button>
	</form>
</div>

<div class="mytimeimg">
	<img src="photos/c35fa992-6ad2-423f-9b4f-8927a11c131e.png">
</div>