<form class="login" action="/home" method="post">
	<div>
		<input class="loginInfo" name="email" type="text" placeholder="email">
		<i class="fa fa-envelope" aria-hidden="true"></i>
	</div>

	<div>
		<input class="loginInfo" name="password" type="password" placeholder="password">
		<i class="fa fa-key" aria-hidden="true"></i>
	</div>

	<button class="loginInfo">Login</button>

</form>	



<div class="mytimeimg">
	<img src="photos/c35fa992-6ad2-423f-9b4f-8927a11c131e.png">
</div>