<h1>You have registered Successfully!</h1>

<form action="/login">
	<button>Go to Log In Page</button>
</form>

<div class="mytimeimg">
	<img src="photos/c35fa992-6ad2-423f-9b4f-8927a11c131e.png">
</div>